@{
    Layout = null;
}


<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Thêm</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">Lỗi! Bạn không có quyền!</div>
                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đồng ý</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@*<div class="row" style="text-align:center">
        <div class="col-md-12 page-404">
            <h1 class="number">
                404
            </h1>
            <div class="details">
                <h3>Oops! You're lost.</h3>
                <p>
                    We can not find the page you're looking for.<br />
                    <a href="/">
                        Trở về trang chủ
                    </a>
                    hoặc liên hệ <a href="http://fb.me/tan.dct">F7DEAT</a>
                </p>
            </div>
        </div>
    </div>*@
